<h3>HistoryDetail</h3>


    <link href="/Resource/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Resource/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Resource/css/cos_mobile.css" rel="stylesheet" type="text/css" />
@code {

}
