@page "/error"
@model Shell.Pages.ErrorModel

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Shell - Register</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=windows-874">
    <script src="Resource/js/jquery.js" type="text/javascript"></script>
    <script src="Resource/js/jquery.cookie.js" type="text/javascript"></script>
    <link href="~/Resource/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="Resource/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="~/Resource/css/sb-admin.css" rel="stylesheet" type="text/css" />
    <link href="~/Resource/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Resource/css/cos.css" rel="stylesheet" type="text/css" />
    <script src="Resource/js/cos.js" type="text/javascript"></script>
    <style type="text/css">
	    html { background: #FED000; }
	    .login-page { margin-top: 0; }
	    .login-page-desc { padding: 0px 20px; }
	    .login-page-desc span { font-size:18px; }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div class="login-page">
        <div class="container">
            <div class="row">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6">
                    <div class="login-page-img">
                        <img src="Resource/img/logo-shell-login.png" />
                    </div>
                    <div class="login-page-desc">
                        <div>&nbsp;</div>
                        <p class="text-center">ไม่พบเนื้อหานี้</p>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</body>
</html>
