@using Microsoft.AspNetCore.Components.Web
@namespace Shell.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=windows-874" />
    <base href="~/" />

    @*---------------------------- Moved from body --------------------------*@

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="Resource/js/cos.js"></script>
    <script src="Resource/js/cos_mobile.js" type="text/javascript"></script>
    <script src="Resource/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="Resource/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <script src="_content/BlazorDateRangePicker/clickAndPositionHandler.js"></script>
    <link rel="stylesheet" href="_content/BlazorDateRangePicker/daterangepicker.min.css" />
    <link href="css/mystyle.css" rel="stylesheet" />

    @*for data-toggle="dropdown"*@
    @*<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>


    <script src="Resource/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="Resource/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <link href="Resource/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

    <script src="~/script.js"></script>
    @*<script src="~/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/openfile.js"></script>
    @* -----------------------  End Moved from body ----------------------- *@
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()
    <script src="_framework/blazor.server.js"></script>

    <style>
        .modal {
            overflow: hidden auto;
        }
    </style>
</body>
</html>
