@page "/"
@using Microsoft.Data.SqlClient
@using Microsoft.EntityFrameworkCore
@using OfficeOpenXml
@using Shell.Data
@using Shell.Model
@using Shell.Service
@using System.Data
@inject IJSRuntime jsRuntime
@inject IclsDefault my_clsDefault


<h1>Search Example</h1>

<p>Filter: @Filter</p>

<p>Page: @Page</p>

@if (Stars is not null)
{
    <p>Assignees:</p>

    <ul>
        @foreach (var name in Stars)
        {
            <li>@name</li>
        }
    </ul>
}
@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? Filter { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public int? Page { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "star")]
    public string[]? Stars { get; set; }
}
<h1>jQuery UI Components in Blazor</h1>

<br />

<h2>jQuery Accordion Component</h2>

<br />

<div id="accordion">
    <h3>ASP.NET</h3>
    <div>
        <p>
            Microsoft ASP.NET is a set of technologies in the Microsoft .NET Framework for building Web applications and XML Web services.
            ASP.NET pages execute on the server and generate markup such as HTML, WML, or XML that is sent to a desktop or mobile browser.
            ASP.NET pages use a compiled,event-driven programming model that improves performance and enables the separation of application logic and user interface.
        </p>
    </div>
    <h3>ASP.NET MVC</h3>
    <div>
        <p>
            The Model-View-Controller (MVC) architectural pattern separates an application into three main components: the model, the view, and the controller.
            The ASP.NET MVC framework provides an alternative to the ASP.NET Web Forms pattern for creating Web applications.
            The ASP.NET MVC framework is a lightweight, highly testable presentation framework that (as with Web Forms-based applications) is integrated with existing ASP.NET features, such as master pages and membership-based authentication.
        </p>
    </div>
    <h3>JavaScript</h3>
    <div>
        <p>
            JavaScript (JS) is an interpreted computer programming language.
            It was originally implemented as part of web browsers so that client-side scripts could interact with the user, control the browser, communicate asynchronously, and alter the document content that was displayed.
            More recently, however, it has become common in both game development and the creation of desktop applications.
        </p>
    </div>
</div>

<br />

<div class="jquery-btn">
    <button>Click Me</button>
</div>

<br />

<p>Clicked: <span class="click-count">0</span></p>

<br />

<button @onclick=testReadExcel>testReadExcel</button>

<button @onclick=testcallstore>testcallstore</button>


<button @onclick=testpageinti>PAPAPGEEE INIT</button>

<br />
<br />
<br />

<button @onclick=testpath>testpath</button>
@testGUID
@testTEXT
@testTEXT2
aaaaaaaa
@{
    //var service = myService.findmyservicepath();
}

@code {
    Guid? testGUID;
    string? testTEXT;
    string? testTEXT2;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeVoidAsync("renderjQueryComponents");
        await base.OnAfterRenderAsync(firstRender);
    }
    public async void ASPOJD()
    {
    }

    public async void testcallstore()
    {
        /*var DateTwoDigits = DateTime.Now.ToString("yy");
        var storeReturn = await my_clsDefault.GenImportID(DateTwoDigits);
        Console.Write(storeReturn);*/

        var storeReturn = await my_clsDefault.GenShoppingNO();
        Console.Write(storeReturn);
    }
    public void testpath()
    {
    }

    public void testReadExcel()
    {
        string filepath = "C:/Users/devat/Desktop/.NET UPGRADE/Shell-prototype-001/Shell/Shell/unsafe_uploads/2200000001.xlsx";
        FileInfo existingfile = new FileInfo(filepath);
        ExcelPackage.LicenseContext = LicenseContext.NonCommercial;
        using (ExcelPackage package = new ExcelPackage(existingfile))
        {
            ExcelWorksheet worksheet = package.Workbook.Worksheets.FirstOrDefault();
            var MasterImportList = ExceltoDatatable.ConvertTableToObjects<MasterExcelImportData>(worksheet.Tables.First());
            foreach (var data in MasterImportList)
            {
                Console.WriteLine(data.ACode + data.ContactName + data.ShopName);
            }
        }
    }

}

@inject ISecure secure
@code{

    public async void testpageinti()
    {
        secure.Page_Init();
    }
}
