@page "/"

@if (spinner_Visible)
{
    <!-- backdrop & spinner -->
    <div id="backdrop-spinner">
        <div class="text-center loading">
            <div class="spinner"></div>
        </div>
    </div>
}

<button @onclick="spinnertrigger"></button>

@code {
    public bool spinner_Visible = false;
    void spinnertrigger()
    {
        spinner_Visible = !spinner_Visible;
    }
}
