@page "/restart"


<form id="form1" class="login-page">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body text-center">
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <h4>หลังจากปรับปรุงสิทธิการใช้งาน</h4>
                    <div>&nbsp;</div>
                    <a href="/login" target="_top" class="btn btn-default btn-fill">กรุณาเข้าสู่ระบบใหม่อีกครั้ง</a>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</form>

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@code {
    protected override async void OnAfterRender(bool firstRender)
    {
        sessionStorage.ClearAsync();
        await base.OnAfterRenderAsync(firstRender);
    }
}
